<!-- filepath: /Users/srijansahay/Developer/Python/Django/BusBooking/templates/dashboard/index.html -->
{% extends 'base.html' %}

{% block title %}Home - Bus Management System{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Bus Management System</h1>
    <p class="lead">Book your bus tickets easily and manage your journeys with our user-friendly platform.</p>
    <hr class="my-4">
    <p>Get started by logging in or signing up if you don't have an account yet.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
    <a class="btn btn-secondary btn-lg" href="#" role="button">Login</a>
</div>
{% endblock %}